<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PharmaApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>     *@  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/medicamentos">
                <span class="nav link" aria-hidden="true"></span> Consultar Medicamentos
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/adicionar-medicamentos">
                <span class="nav link" aria-hidden="true"></span> Adicionar Medicamentos
            </NavLink>
        </div>

        @* <div class="nav-item px-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Medicamentos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <NavLink class="dropdown-item" href="/medicamentos">
                        Consultar Medicamentos
                    </NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-item" href="/adicionar-medicamentos">
                        Adicionar Medicamentos
                    </NavLink>
                </li>
            </ul>
        </div> *@

    </nav>
</div>

