# .NET build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# User-specific files (Windows)
*.swp

# ASP.NET temporary files
.vs/
.vscode/

# Log files
*.log

# Temp files
*.tmp
*.temp
*.bak