@page "/"
@namespace PharmaApp.Components.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PharmaApp.Pages._HostModel
@{

    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>PharmaApp</title>

        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <base href="/" />
    </head>
    <body>
        <app>Carregando...</app>

        <script src="_framework/blazor.server.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>

    </body>
    </html>
}
